{% extends 'base.html.twig' %}
{% block body %}
{#    footer#}
{#{{ include('default/header.html.twig') }}#}
{#    block-main#}
    <div class="container">
        <div class="row mt-5 mb-3 justify-content-center">
            <h1 class="display-4 text-light">
                <span class="logo_red">В</span>се продукты
            </h1>
        </div>
        <div class="container">
            <div class="d-flex justify-content-start flex-wrap">
{#                {% for prod in products %}
                    <div class="card ml-3 mt-3" style="width: 18rem;">
                        {% if prod.image %}
                            <img src="{{ asset('assets/main/img/uploads/' ~ prod.image) }}" width="286" height="286" class="card-img-top" alt="Картинка продукта">
                        {% else %}
                            <img src="{{ asset('assets/main/img/uploads/photo-poster.jpg') }}" class="card-img-top" alt="Картинка продукта">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ prod.title }}</h5>
                            <h6 class="card-title text-truncate">Категория: {{ prod.category.title }}</h6>
                            <div class="d-flex align-items-center">
                                <i class="far fa-star fa-2x"></i>
                                <p class="ml-2 default_font" style="margin: 0">{{ prod.avarageEstimate }}</p>
                                <i class="ml-3 far fa-user fa-2x"></i>
                                <p class="ml-2 default_font" style="margin: 0">{{ prod.lenComments }}</p>
                            </div>
                            <p class="card-text">{{ prod.createAt ? prod.createAt|date('Y-m-d H:i:s') : '' }}</p>
                            <a href="{{ path('product_show', {'id': prod.id}) }}" class="btn btn-primary stretched-link">Перейти</a>
                        </div>
                    </div>
                {% else %}
                    <h2 class="text-center">Нету продуктов</h2>
                {% endfor %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ include('default/scripts.html.twig') }}
    <script src="{{ asset('assets/main/js/main.js') }}"></script>
{% endblock %}